<div class="table-bordered">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t "word" %></th>
        <th><%= t "time_exam" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @results %>
    </tbody>
  </table>
</div>
<div class="pull-right">
  <%= will_paginate @categories %>
</div>
