<div id="copyright">
  <div class="container">
    <div class="col-md-6">
      <p class="pull-center">&copy; <%= t "copy" %>
        <%= link_to t("title") %> <%= t "website" %>
      </p>
    </div>
  </div>
</div>
